body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 4rem; /* 100% fontsize is roughly 16 px or 1em*/
  line-height: 2;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  margin: 10px auto 20px auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}

p{
  line-height: 2;
}

a {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;

}

a:hover{
  color: #EAF6F6;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top-container {
  background-color: #d1f5d3;
  position: relative;
  padding-top: 150px;
  line-height: 100px;
}

.middle-container{
  margin: 100px 0;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.intro{
  width: 30%;
  margin: auto;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px ;
}

.copywright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px;
}

/*'Display: none' and 'visibility: hidden' are some ways to hide out block or inline element*/
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 50px auto 150px auto;
  text-align: left;
  line-height: 2;
}

.computer{
  border-radius: 50%; /* This can be used to round any image */
  margin-right: 30px; /* To create space between the text and the image*/
  width: 25%;
  float: left; /* This can be used to float the image next to a text in a div */
  line-height: 2;
}

.chillies{
  margin-left: 30px;
  width: 25%;
  float: right;
  line-height: 2;
}


.btn{
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-size: 20px;
  padding: 20px 25px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #63B8EE;
  background: linear-gradient(top,  #11CDD4,  #11999E);
  background: -ms-linear-gradient(top,  #11CDD4,  #11999E);
  background: -webkit-gradient(linear, left top, left bottom, from(#11CDD4), to(#11999E));
  background: -moz-linear-gradient(top,  #11CDD4,  #11999E);
}
.btn:hover {
  color: #14396A;
  background: #468CCF;
  background: linear-gradient(top,  #30E3CB,  #2BC4AD);
  background: -ms-linear-gradient(top,  #30E3CB,  #2BC4AD);
  background: -webkit-gradient(linear, left top, left bottom, from(#30E3CB), to(#2BC4AD));
  background: -moz-linear-gradient(top,  #30E3CB,  #2BC4AD);
}
